ul {
    list-style: disc;
}

body {
    background: #F2F2F2;
    font-size: 1rem;
    line-height: 1.5rem;
}

ul {
    margin: 0 0 1.5rem 1.5rem;
    padding-left: 20px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}